<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.yinyee.locator">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".EZInventory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

         <activity android:name=".estimote.Locator">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
             <intent-filter>
                 <action android:name="android.intent.action.SCANBARCODE" />
                 <category android:name="android.intent.category.DEFAULT" />
             </intent-filter>
         </activity>

         <activity android:name=".AuthenticationActivity"/>
         <activity android:name=".barcode.BarcodeMainActivity"/>
         <activity android:name=".barcode.BarcodeCaptureActivity"/>
         <activity android:name=".ocr.OcrMainActivity"/>
         <activity android:name=".ocr.OcrCaptureActivity"/>
         <activity android:name=".ProgressActivity"/>
    </application>

</manifest>